.App {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
  z-index: -1;
}

.left, .right {
  margin: 2%;
  margin-top: 0px;
}

.right {
  /*height: 650px;*/
  float: right;
  border: solid #ff725c;
  width: 96%;
}

@media screen and (min-width:1320px) {
  .left {
    position: fixed;
/*    height: 740px;*/
    border: solid #cdecff;
    float: left; 
    width: 13%;
    margin-top: 25px;
    padding-top: 7px;
  }
  .right {
    width: 80%;
  }
}






p {
  font-family: Code;
}

.Home {
  margin-top: 0px;
}
