
.matrixAddition {

}

.matDim {
	width: 50px;
	text-align: center;
}

.selection {
	display: inline-block;
	margin: 10px;
}

.submitButton {
	width: 87.5px;
}

.container {
	vertical-align: middle;
}

.symbol {
	width: 5px;
	display: inline-block;
	vertical-align: middle;
}