.matBox {
	width: 30px;
}

.matBorder {
	border: solid;
	color: white;
	width: 150px;
	border-radius: 20px;
	border-top: none;
	border-bottom: none;
	margin: 20px;
}

.matBorder table {
	margin: 0 auto;
}

.matrixAddition {

}

.matDim {
	width: 30px;
	text-align: center;
}

.selection {
	display: inline-block;
	margin: 10px;
}

.submitButton {
	width: 70px;
}